<div class="container login-container" id="registration-form">
    <div class="text-container">
        <p>Please click the button below to create an account        </p>
        <button mat-button routerLink="/register">Sign up</button>
      </div>
       <div class="form-container">
        <h1>Welcome to login page</h1>
    <button class="mat-raised-button" (click)="loginWithGoogle()">
        Sign In with Google
    </button>
    <h5>Or sign in with your email</h5>
    <app-login-form (formData)="login($event)"></app-login-form>
       </div>
</div>