<div class="detail">
    <div class="header">
        <h2 class="page-header">{{ crane.name }}</h2>
        <button class="btn-close" (click)="close()" ><mat-icon>close</mat-icon></button>
    </div>
    <div class="content">
        <img [src]="crane.url" />
        <div>
            <p>Load capacity: {{ crane.loadCapacity }}</p>
            <p>Telescopic boom: {{ crane.telescopicBoom }}</p>
            <p>Max height: {{ crane.maxHeight }}</p>
            <p>Max radius: {{ crane.maxRadius }}</p>
            <p>Axles: {{ crane.axles }} </p>
        </div>
    </div>
    <div *ngIf="isLoggedIn$ | async as isLoggedIn">
        <button (click)="update()" mat-raised-button color="primary">Edit</button>
        <button (click)="delete()" mat-raised-button color="warn">Delete</button>
    </div>
    <div *ngIf="!(isLoggedIn$ | async) as isLoggedIn">
        <button [disabled]="isLoggedIn" (click)="update()" mat-raised-button color="primary">Edit</button>
        <button [disabled]="isLoggedIn" (click)="delete()" mat-raised-button color="warn">Delete</button>
    </div>
</div>
