<h2>Crane add</h2>
<!--Reactive Form provides synchronous access to the data model, immutability with observable operators, and change tracking through observable streams.-->

<div class="container">
    <form [formGroup]="addCraneForm" (ngSubmit)="onSubmit()" #formDir="ngForm">
        <div class="form-group">
            <label for="cranename">Crane name</label><br />
            <input type="text" id="cranename" formControlName="cranename" class="form-control" required>
            <div *ngIf="cranename.invalid && (cranename.dirty || cranename.touched)">
                <div *ngIf="cranename.errors?.['required']">Name is required.</div>
            </div>
        </div>
        <pre></pre>
        <div class="form-group">
            <label for="loadCapacity">Load capacity</label><br />
            <input type="number" id="loadCapacity" formControlName="loadCapacity" class="form-control" required>
            <div *ngIf="loadCapacity.invalid && (loadCapacity.dirty || loadCapacity.touched)">
                <div *ngIf="loadCapacity.errors?.['required']">The field is required.</div>
            </div>
        </div>
        <pre></pre>
        <div class="form-group">
            <label for="telescopicBoom">Telescopic boom</label><br />
            <input type="number" id="telescopicBoom" formControlName="telescopicBoom" class="form-control" required>
            <div *ngIf="telescopicBoom.invalid && (telescopicBoom.dirty || telescopicBoom.touched)">
                <div *ngIf="telescopicBoom.errors?.['required']">The field is required.</div>
            </div>
        </div>
        <pre></pre>
        <div class="form-group">
            <label for="maxHeight">Max height</label><br />
            <input type="number" id="maxHeight" formControlName="maxHeight" class="form-control" required>
            <div *ngIf="maxHeight.invalid && (maxHeight.dirty || maxHeight.touched)">
                <div *ngIf="maxHeight.errors?.['required']">The field is required.</div>
            </div>
        </div>
        <pre></pre>
        <div class="form-group">
            <label for="maxRadius">Max radius</label><br />
            <input type="range" id="maxRadius" formControlName="maxRadius" min="30" max="50" step="2"
                class="form-control" oninput="this.nextElementSibling.value = this.value" required>
            <output>40</output>
            <div *ngIf="maxRadius.invalid && (maxRadius.dirty || maxRadius.touched)">
                <div *ngIf="maxRadius.errors?.['required']">The field is required.</div>
            </div>
        </div>
        <pre></pre>
        <div class="form-group">
            <div for="axles">Axles</div>
            <input type="radio" id="axles2" formControlName="axles" value="2" required>
            <label for="axles2">2</label>
            <input type="radio" id="axles3" formControlName="axles" value="3">
            <label for="axles3">3</label>
            <input type="radio" id="axles24" formControlName="axles" value="4">
            <label for="axles4">4</label>
            <div *ngIf="axles.invalid && (axles.dirty || axles.touched)">
                <div *ngIf="axles.errors?.['required']">The field is required.</div>
            </div>
        </div>
        <p>Form status: {{ addCraneForm.status }} </p>
        <pre></pre>

        <p>Complete the form to enable button.</p>
        <button class="btn btn-primary" type="submit" [disabled]="!addCraneForm.valid">Submit</button>
        <button class="btn btn-primary" type="button" (click)="ResetForm()">Reset</button>
    </form>
</div>