h2 {
    margin-left: 1em;
}
input[type="radio"] {
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 3px 3px 0px 5px;
    padding: initial;
    border: initial;
}
.btn:disabled {
    opacity: 0.25;
}