<div class="table-container">
  <h2 class="page-header">Details about cranes</h2>
  <a routerLink="/cranes-table-view/add" class="btn btn-success btn-add" *ngIf="hideWhenNoCrane"> Add crane</a>
  <a [routerLink]="['../']" class="btn btn-secondary btn-add" *ngIf="hideWhenNoCrane"> Go back </a> <!--relative path to go back.
    In edit implemented same behaviour, but with Location: a service that applications can use to interact with a browser's URL.-->
<div class="mx-auto">

  <div class="table-responsive" *ngIf="hideWhenNoCrane">
    <table class="table table-bordered table-responsive-sm table-responsive-md table-responsive-lg">
      <thead>
        <tr>
          <th scope="col">Crane Id</th>
          <th scope="col">Name</th>
          <th scope="col">Visual</th>
          <th scope="col">Operating weight</th>
          <th scope="col">Max. torque</th>
          <th scope="col">Kelly drilling, max. drilling depth</th>
          <th scope="col">Kelly drilling, max. drilling diameter</th>
          <th class="text-center" scope="col">Edit</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let crane of Crane">
          <th scope="row">{{ crane?.['$id'] }}</th>
          <td>{{ crane.name }}</td>
          <td><img class="crane-image" src="{{ crane.url }}" alt="link to image with {{ crane.name }}"/></td>
          <td>{{ crane.operWeight }}</td>
          <td>{{ crane.maxTorque }}</td>
          <td>{{ crane.kellyDrillingDepth }}</td>
          <td>{{ crane.kellyDrillingDiameter }}</td>
          <td class="text-center action-block">
            <span class="mr-2 btn btn-outline-primary btn-sm" routerLink="/cranes-table-view/edit/{{ crane?.['$id'] }}">Edit</span>
            <span class="btn btn-outline-danger btn-sm" (click)="deleteCrane(crane)">Delete</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="no-data text-center" *ngIf="noData">
    <img src="assets/crane.jpg" class="preloader-icon" alt="No crane has been added yet" />
    <p class="nodata-msg">No crane has been added yet!</p>
    <a routerLink="/cranes-table-view/add" class="btn btn-success"> Add crane </a>
  </div>
</div>
