.table-container {
  padding: 30px;
}

.cranes {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
}

.cranes li {
  display: flex;
}

.cranes button {
  flex: 1;
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: 0;
  border-radius: 4px;
  display: flex;
  align-items: stretch;
}

.crane-image {
  max-width: 10em;
  max-height: auto;
}

.cranes button:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
  left: .1em;
}

.cranes button:active {
  background-color: #525252;
  color: #fafafa;
}

.cranes button.selected {
  background-color: black;
  color: white;
}

.cranes button.selected:hover {
  background-color: #505050;
  color: white;
}

.cranes button.selected:active {
  background-color: black;
  color: white;
}

.cranes .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.5em 0.7em 0.5em 0.7em;
  background-color: #405061;
  line-height: 1em;
  margin-right: .8em;
}

.cranes .name {
  align-self: center;
}

.btn-a {
  align-self: center;
}

.container-add {
  margin-top: 5em;
}

.container-add .btn {
  margin-left: .5em;
}

.btn-add {
  margin-bottom: 15px;
}
