<div class="container">
    <p>There are some pages to visit: info about cranes and mobile cranes, login page. Choose on menu above or via buttons below</p>
    <ul class="row">
        <li class="col-sm-3" ><button class="nav-link" href="#" routerLink="/login">Login</button></li>
        <li class="col-sm-3" ><button class="nav-link" href="#" routerLink="/cranes">Cranes</button></li>
        <li class="col-sm-3" ><button class="nav-link" href="#" routerLink="/crane-add">Crane-add</button></li>
        <li class="col-sm-3" ><button class="nav-link" href="#" routerLink="/mobile-cranes">Mobile cranes</button></li>
    </ul>
    </div>