<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field class="form-control">
        <input matInput formControlName="email" type="text" placeholder="Email" required />
        <mat-hint align="end">{{email?.value.length}} / 60</mat-hint>
        <mat-error *ngIf="email?.hasError('required')"> Email is required </mat-error>
        <mat-error *ngIf="email?.hasError('minlength')"> A minimum length of 7 characters is required. </mat-error>
        <mat-error *ngIf="email?.hasError('email')"> Email isn't valid. Please enter a valid email. </mat-error>
    </mat-form-field>
    <mat-form-field class="form-control">
        
        <input matInput formControlName="password" type="password" placeholder="Password" required />
        <mat-error *ngIf="password?.hasError('required')"> Password is required </mat-error>
    </mat-form-field>
    <div class="form-footer">
        <button [disabled]="form.invalid" mat-raised-button type="submit"> Submit </button>
    </div>
</form>