<div class="detail">
    <h2>{{ crane.name }}</h2>
    <div class="content">
        <img [src]="crane.url" />
        <div>
            <p>Load capacity: {{ crane.loadCapacity }}</p>
            <p>Telescopic boom: {{ crane.telescopicBoom }}</p>
            <p>Max height: {{ crane.maxHeight }}</p>
            <p>Max radius: {{ crane.maxRadius }}</p>
            <p>Axles: {{ crane.axles }} </p>
        </div>
    </div>
    <div>
        <button (click)="update()" mat-raised-button color="primary">Edit</button>
        <button (click)="delete()" mat-raised-button color="warn">Delete</button>
    </div>
</div>