<h2>Crane add</h2>
<!--Reactive Form provides synchronous access to the data model, immutability with observable operators, and change tracking through observable streams.-->

<div class="container">
    <form [formGroup]="addCraneForm" (ngSubmit)="onSubmit()" #formDir="ngForm">

        <mat-form-field appearance="outline">
            <mat-label>Crane name</mat-label>
            <input matInput placeholder="Crane name" formControlName="name" class="form-control" required>
            <mat-error *ngIf="name.invalid && (name.dirty || name.touched)">
                <mat-error *ngIf="name.errors?.['required']">The field is required.</mat-error>
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Visual presentation of crane</mat-label>
            <input matInput formControlName="url" class="form-control" required>
            <mat-error *ngIf="url.invalid && (url.dirty || url.touched)">
                <mat-error *ngIf="url.errors?.['required']">The field is required.</mat-error>
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Load capacity of crane</mat-label>
            <input matInput type="number" formControlName="loadCapacity" class="form-control" required>
            <mat-error *ngIf="loadCapacity.invalid && (loadCapacity.dirty || loadCapacity.touched)">
                <mat-error *ngIf="loadCapacity.errors?.['required']">The field is required.</mat-error>
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Telescopic boom</mat-label>
            <input matInput type="number" formControlName="telescopicBoom" class="form-control" required>
            <mat-error *ngIf="telescopicBoom.invalid && (telescopicBoom.dirty || telescopicBoom.touched)">
                <mat-error *ngIf="telescopicBoom.errors?.['required']">The field is required.</mat-error>
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Max height</mat-label>
            <input matInput type="number" formControlName="maxHeight" class="form-control" required>
            <mat-error *ngIf="maxHeight.invalid && (maxHeight.dirty || maxHeight.touched)">
                <mat-error *ngIf="maxHeight.errors?.['required']">The field is required.</mat-error>
            </mat-error>
        </mat-form-field>

        <div>
            <mat-label>Max radius</mat-label>
            <mat-slider formControlName="maxRadius" min="30" max="50" step="2"
            class="form-control" (change)="updateSetting($event)" [value]="sliderValue" required></mat-slider>
            <mat-hint>{{sliderValue}}</mat-hint>            
            <mat-error *ngIf="maxRadius.invalid && (maxRadius.dirty || maxRadius.touched)">
              <mat-error *ngIf="maxRadius.errors?.['required']">The field is required.</mat-error>
          </mat-error>
        </div>

        <mat-radio-group formControlName="axles" required>
            <label for="axles">Axles</label>
            <mat-radio-button value="2">2</mat-radio-button>
            <mat-radio-button value="3">3</mat-radio-button>
            <mat-radio-button value="4">4</mat-radio-button>
            <mat-error *ngIf="axles.invalid && (axles.dirty || axles.touched)">
                <mat-error *ngIf="axles.errors?.['required']">The field is required.</mat-error>
            </mat-error>
        </mat-radio-group>
        <p>Form status: {{ addCraneForm.status }} </p>
        <pre></pre>
        <p>Complete the form to enable Submit button.</p>
        <button class="btn btn-primary" type="submit" [disabled]="!addCraneForm.valid">Submit</button>
        <button class="btn btn-primary" type="button" (click)="resetForm()">Reset</button>
    </form>
</div>