<div class="list container">
  <h2 class="page-header">List of cranes</h2>
  <div class="list-header" *ngIf="isLoggedIn$ | async as isLoggedIn">
    <button mat-raised-button color="primary" (click)="addCrane()"> Add Crane </button>
    <button mat-raised-button class="btn-gray" routerLink="../" > Go back </button>
  </div>
  <div class="list-header" *ngIf="!(isLoggedIn$ | async) as isLoggedIn">
    <button mat-raised-button color="primary" [disabled]="isLoggedIn" (click)="addCrane()"> Add Crane </button>
  </div>
</div>
<div class="content">
  <app-list (craneEmitter)="selectCrane($event)"></app-list>
  <app-detail [crane]="selectedCrane" *ngIf="selectedCrane showWindow" (deleteCrane)="deleteCrane(selectedCrane)"
    (updateCrane)="updateCrane(selectedCrane)" (closeCrane)="closeCrane(selectedCrane)"></app-detail>
</div>
