<div class="card-container" cdkDropList (cdkDropListDropped)="drop($event)">
    <mat-card *ngFor="let crane of Crane; let i = index" (click)="selectCrane(crane)" highlighted #highlighter="bringColor" cdkDrag>
        <mat-card-header >
            <mat-card-title>{{ crane.name }}</mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="crane.iconUrl" alt="Photo of a crane" (dblclick)="highlighter.toggle()"/>
        <mat-card-content *appNgxShowOdd="i">
          <p> {{ i }} {{ crane.description }}</p>
        </mat-card-content>
    </mat-card>
</div>
