.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 30px 0;

}

mat-card {
    align-items: center;
    display: flex;
    flex: 1 0 20%;
    flex-direction: column;
    margin: 5px;
    max-width: 200px;

    img {
        object-fit: cover;
        overflow: hidden;
        height: fit-content;
    }
}

mat-card:hover {
    box-shadow: 0 0 11px #cccccc;
    cursor: pointer;
}

mat-card-content {
    max-height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
}

