<h2>Details about cranes</h2>

<div class="container">

  <ul class="row cranes">
  <li class="col-sm-4" *ngFor="let crane of cranes">
    <button type="button" [class.selected]="crane === selectedCrane" (click)="onSelect(crane)">
      <p class="badge">{{ crane?.['id']}}</p>
      <p class="name">{{ crane.name | uppercase }}</p>
    </button>
  </li>
</ul>
<app-crane-details [crane]="selectedCrane"></app-crane-details>
<button class="btn-a nav-link" routerLink="/crane-add"> Link to Add new crane page</button><!--this btn actually a link to crane-add-component-->
</div>
<!--
 
  
  as example of Angular interpolation binding following code can be used 

  <li class="col-sm-4" *ngFor="let crane of cranes">
      <a routerLink="/detail/{{crane.id}}">
        <p class="badge">{{ crane.id }}</p>
        <p class="name">{{ crane.name | uppercase }}</p>
      </a>
    </li>

and uncommend all code in crames-details and in app-routing

-->