html,
body {
  height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 2em;
  padding: 30px;
}

a {
  color: white;
  text-decoration: none;
}

.mat-toolbar {
  justify-content: space-between;
}

.menu-log {
  display: flex;
  margin-left: auto
}

.title {
  @media (max-width: 375px) {
    font-size: .75em;
  }
}

.dropdown-menu-custom,
.log-menu {
  @media (max-width: 375px) {
    font-size: .5em;
  }
}

.dropdown-btn:focus{
  outline: none;
}

.footer {
  min-height: 16px;
  max-height: 40px;

  .footer-title {
    margin: 0 auto;
  }

}
