mat-radio-button {
  background-color: initial;
  cursor: default;
  appearance: auto;
  box-sizing: border-box;
  margin: 3px 3px 0px 5px;
  padding: initial;
  border: initial;
}

mat-form-field {
  width: 100%;
}

.form-control:focus {
  border-color: none;
  box-shadow: none;
}
