/* You can add global styles to this file, and also import other style files */
.btn {
  margin: 0.2em;
}

.page-header {
  margin-left: 1em;
}

.btn:disabled {
  opacity: 0.25;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.radio-button-value .mat-radio-label-content {
  @media (max-width: 425px) {
    padding-left: 4px;
  }
}


.cdk-overlay-pane {
  @media(max-width: 400px) {
    min-width: 0 !important;
    max-width: 100% !important;
    max-height: 100% !important;
    width: 100% !important;
    height: 100% !important;

    .mat-dialog-container {
      border-radius: 0;
      padding: 14px !important;
    }

  }

}
